# Integrated Project: Maji Ndogo Part 4
© ExploreAI Academy

## Maji Ndogo: From analysis to action
# Charting the course for Maji Ndogo's water future

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `mdd_water_services` database.


### Actionable Insights: Empowering Decisions


Our journey continues, as we aim to convert our data into actionable knowledge. Understanding the situation is one thing, but it's the translation of that understanding into informed decisions that will truly make a difference.

As we step into this next phase, I will shape our raw data into meaningful views - providing essential information to decision-makers. This will enable us to discern the materials we need, plan our budgets, and identify the areas requiring immediate attention. We're not just analysing data; we're making it speak in a language that everyone involved in this mission can understand and act upon.

Lastly, I will create job lists for our engineers. Their expertise will be invaluable in tackling the challenges we face, but they can only do their job effectively when they have clear, data-driven directions.

#### Focused Query Analysis: Targeted Insights

We still have a bit of analysis to wrap up, and then we need to create a table to track our progress. Let's start with the last bit of analysis.

So I used to be tempted to put all of the columns from all of the tables in one place/table, and then analyse the data, but on a dataset of this size, we're going to run into performance issues.

So, we should rather spend a minute thinking about the questions we still have, and create queries to answer them, specifically. Doing this means that we will only use the data we need to answer our question.

#### Let's summarise the data we need, and where to find it:
• All of the information about the location of a water source is in the location table, specifically the town and province of that water source.

• water_source has the type of source and the number of people served by each source.

• visits has queue information, and connects source_id to location_id. There were multiple visits to sites, so we need to be careful to include duplicate data (visit_count > 1 ).

• well_pollution has information about the quality of water from only wells, so we need to keep that in mind when we join this table.

Previously, we couldn't link provinces and towns to the type of water sources, the number of people served by those sources, queue times, or pollution data, but we can now. So, what type of relationships can we look at?

#### Things that spring to mind for me:
1. Are there any specific provinces, or towns where some sources are more abundant?
2. We identified that tap_in_home_broken taps are easy wins. Are there any towns where this is a particular problem?

##### To answer question 1
we will need province_name and town_name from the location table. We also need to know type_of_water_source and number_of_people_served from the water_source table.

The problem is that the location table uses location_id while water_source only has source_id. So we won't be able to join these tables directly. But the visits table maps location_id and source_id. So if we use visits as the table we query from, we can join location where the location_id matches, and water_source where the source_id matches.

Before we can analyse, we need to assemble data into a table first. It is quite complex, but once we're done, the analysis is much simpler!

###### Start by joining location to visits.

## Connecting to our MySQL database

Using our `Access_to_Basic_Services` table created in MySQL Workbench, we want to answer some questions on the range of our dataset. We can apply the same queries in MySQL Workbench and in this notebook if we connect to our MySQL server. Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [3]:
# To display all row in ouputs
%config SqlMagic.displaylimit = None

In [4]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

displaylimit: Value None will be treated as 0 (no limit)

In [5]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:599190100@localhost:3306/md_water_services

Connecting to 'mysql+pymysql://root:***@localhost:3306/md_water_services'

In [6]:
%%sql

SELECT
    *
FROM
    data_dictionary

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

49 rows affected.

+---------------------+--------------------------+---------------------------------------------------------------------------------------------------------+--------------+-----------------------------+
|      table_name     |       column_name        |                                               description                                               |   datatype   |          related_to         |
+---------------------+--------------------------+---------------------------------------------------------------------------------------------------------+--------------+-----------------------------+
|       employee      |   assigned_employee_id   |                                   Unique ID assigned to each employee                                   |     INT      |            visits           |
|       employee      |      employee_name       |                                           Name of the employee                                          | VARCHAR(255) |                             |
|       employee      |       phone_number       |                                      Contact number of the employee                                     | VARCHAR(15)  |                             |
|       employee      |          email           |                                      Email address of the employee                                      | VARCHAR(255) |                             |
|       employee      |         address          |                                   Residential address of the employee                                   | VARCHAR(255) |                             |
|       employee      |        town_name         |                               Name of the town where the employee resides                               | VARCHAR(255) |                             |
|       employee      |      province_name       |                             Name of the province where the employee resides                             | VARCHAR(255) |                             |
|       employee      |         position         |                                  Position or job title of the employee                                  | VARCHAR(255) |                             |
|        visits       |        record_id         |                                     Unique ID assigned to each visit                                    |     int      | water_quality, water_source |
|        visits       |       location_id        |                                        ID of the location visited                                       | varchar(255) |           location          |
|        visits       |        source_id         |                                      ID of the water source visited                                     | varchar(510) |        well_pollution       |
|        visits       |      time_of_record      |                                        Date and time of the visit                                       |   datetime   |                             |
|        visits       |       visit_count        |                                  Number of visits made to this location                                 |     int      |                             |
|        visits       |      time_in_queue       |                    Time spent by people waiting for water in a queue at the location                    |     int      |                             |
|        visits       |   assigned_employee_id   |                               ID of the employee who visited the location                               |     int      |           employee          |
|    water_quality    |        record_id         |                                    Unique ID assigned to each record                                    |     int      |                             |
|    water_quality    | subjective_quality_score |                      Score representing the subjective quality of the water source                      |     int      |                             |
|    water_quality    |       visit_count        |                                Number of visits made for data collection                                |     int      |                             |
|     water_source    |        source_id         |                                 Unique ID assigned to each water source                                 | VARCHAR(510) |            visits           |
|     water_source    |   type_of_water_source   | Type or category of the water source. Can be : tap_in_home, tap_in_home_broken, well, shared_tap, river | VARCHAR(255) |                             |
|     water_source    | number_of_people_served  |                               Number of people served by this water source                              |     INT      |                             |
|    well_pollution   |        source_id         |                            ID of the water source being tested for pollution                            | varchar(258) |            visits           |
|    well_pollution   |           date           |                                        Date of the pollution test                                       |   datetime   |                             |
|    well_pollution   |       description        |                                    Description of the pollution test                                    | varchar(255) |                             |
|    well_pollution   |      pollutant_ppm       |                            Result of the pollution test in parts per million                            |    float     |                             |
|    well_pollution   |        biological        |                                      Biological contamination level                                     |    float     |                             |
|    well_pollution   |         results          |          Result of the pollution test. Can be 'dirty', 'biologically contaminated', or 'clean'          | varchar(255) |                             |
|       location      |       location_id        |                                   Unique ID assigned to each location                                   | varchar(255) |            visits           |
|       location      |         address          |                                         Address of the location                                         | varchar(255) |                             |
|       location      |      province_name       |                           Name of the province where the location is situated                           | varchar(255) |                             |
|       location      |        town_name         |                             Name of the town where the location is situated                             | varchar(255) |                             |
|       location      |      location_type       |                                     Type or category of the location                                    | varchar(255) |                             |
| global_water_access |           name           |                                         The country or area name                                        | varchar(255) |                             |
| global_water_access |          region          |                                           Geographical region                                           | varchar(255) |                             |
| global_water_access |           year           |                                         Year of the data record                                         |     int      |                             |
| global_water_access |          pop_n           |                            The national population size estimate in thousands                           |    float     |                             |
| global_water_access |          pop_u           |                       The urban population share estimate in percentage points (%)                      |    float     |                             |
| global_water_access |        wat_bas_n         |                  The estimated national share of people with at least basic service (%)                 |    float     |                             |
| global_water_access |        wat_lim_n         |                     The estimated national share of people with limited service (%)                     |    float     |                             |
| global_water_access |       wat_unimp_n        |                    The estimated national share of people with unimproved service (%)                   |    float     |                             |
| global_water_access |        wat_sur_n         |                     The estimated national share of people with surface service (%)                     |    float     |                             |
| global_water_access |        wat_bas_r         |                   The estimated rural share of people with at least basic service (%)                   |    float     |                             |
| global_water_access |        wat_lim_r         |                       The estimated rural share of people with limited service (%)                      |    float     |                             |
| global_water_access |       wat_unimp_r        |                     The estimated rural share of people with unimproved service (%)                     |    float     |                             |
| global_water_access |        wat_sur_r         |                       The estimated rural share of people with surface service (%)                      |    float     |                             |
| global_water_access |        wat_bas_u         |                   The estimated urban share of people with at least basic service (%)                   |    float     |                             |
| global_water_access |        wat_lim_u         |                       The estimated urban share of people with limited service (%)                      |    float     |                             |
| global_water_access |       wat_unimp_u        |                     The estimated urban share of people with unimproved service (%)                     |    float     |                             |
| global_water_access |        wat_sur_u         |                       The estimated urban share of people with surface service (%)                      |    float     |                             |
+---------------------+--------------------------+---------------------------------------------------------------------------------------------------------+--------------+-----------------------------+

In [7]:
%%sql
# 1. Are there any specific provinces, or towns where some sources are more abundant? 
# Start by joining location to visits.

SELECT
    v.location_id,
    v.source_id,
    v.visit_count,
    l.province_name,
    l.town_name,
    l.location_type    
FROM
    visits AS v
JOIN
    location AS l
on
    v.location_id = l.location_id
LIMIT 10

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+-------------+--------------+-------------+---------------+-----------+---------------+
| location_id |  source_id   | visit_count | province_name | town_name | location_type |
+-------------+--------------+-------------+---------------+-----------+---------------+
|  AkHa00000  | AkHa00000224 |      1      |     Akatsi    |   Harare  |     Urban     |
|  AkHa00001  | AkHa00001224 |      1      |     Akatsi    |   Harare  |     Urban     |
|  AkHa00002  | AkHa00002224 |      1      |     Akatsi    |   Harare  |     Urban     |
|  AkHa00003  | AkHa00003224 |      1      |     Akatsi    |   Harare  |     Urban     |
|  AkHa00004  | AkHa00004224 |      1      |     Akatsi    |   Harare  |     Urban     |
|  AkHa00005  | AkHa00005224 |      1      |     Akatsi    |   Harare  |     Urban     |
|  AkHa00006  | AkHa00006224 |      1      |     Akatsi    |   Harare  |     Urban     |
|  AkHa00007  | AkHa00007224 |      1      |     Akatsi    |   Harare  |     Urban     |
|  AkHa00008  | AkHa00008224 |      1      |     Akatsi    |   Harare  |     Urban     |
|  AkHa00009  | AkHa00009224 |      1      |     Akatsi    |   Harare  |     Urban     |
+-------------+--------------+-------------+---------------+-----------+---------------+

In [8]:
%%sql
--  Now, we can join the water_source table on the key shared between water_source and visits.

SELECT
    v.location_id,
    v.source_id,
    v.visit_count,
    l.province_name,
    l.town_name,
    l.location_type,
    ws.type_of_water_source,
    ws.number_of_people_served
FROM
    visits AS v
JOIN
    location AS l
on
    v.location_id = l.location_id
JOIN
    water_source AS ws
ON
    ws.source_id = v.source_id
LIMIT 10

# Note that there are rows where visit_count > 1. 
# These were the sites our surveyors collected additional information for, but they happened at the
# same source/location. For example, add this to your query: WHERE visits.location_id = 'AkHa00103'

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+-------------+--------------+-------------+---------------+-----------+---------------+----------------------+-------------------------+
| location_id |  source_id   | visit_count | province_name | town_name | location_type | type_of_water_source | number_of_people_served |
+-------------+--------------+-------------+---------------+-----------+---------------+----------------------+-------------------------+
|  AkHa00000  | AkHa00000224 |      1      |     Akatsi    |   Harare  |     Urban     |     tap_in_home      |           956           |
|  AkHa00001  | AkHa00001224 |      1      |     Akatsi    |   Harare  |     Urban     |  tap_in_home_broken  |           930           |
|  AkHa00002  | AkHa00002224 |      1      |     Akatsi    |   Harare  |     Urban     |  tap_in_home_broken  |           486           |
|  AkHa00003  | AkHa00003224 |      1      |     Akatsi    |   Harare  |     Urban     |         well         |           364           |
|  AkHa00004  | AkHa00004224 |      1      |     Akatsi    |   Harare  |     Urban     |  tap_in_home_broken  |           942           |
|  AkHa00005  | AkHa00005224 |      1      |     Akatsi    |   Harare  |     Urban     |     tap_in_home      |           736           |
|  AkHa00006  | AkHa00006224 |      1      |     Akatsi    |   Harare  |     Urban     |     tap_in_home      |           882           |
|  AkHa00007  | AkHa00007224 |      1      |     Akatsi    |   Harare  |     Urban     |     tap_in_home      |           554           |
|  AkHa00008  | AkHa00008224 |      1      |     Akatsi    |   Harare  |     Urban     |         well         |           398           |
|  AkHa00009  | AkHa00009224 |      1      |     Akatsi    |   Harare  |     Urban     |         well         |           346           |
+-------------+--------------+-------------+---------------+-----------+---------------+----------------------+-------------------------+

In [9]:
%%sql

# There you can see what I mean. 
# For one location, there are multiple AkHa00103 records for the same location.
# If we aggregate, we will include these rows, so our results will be incorrect.
# To fix this, we can just select rows where visits.visit_count = 1.

SELECT
    v.location_id,
    v.source_id,
    v.visit_count,
    l.province_name,
    l.town_name,
    l.location_type,
    ws.type_of_water_source,
    ws.number_of_people_served
FROM
    visits AS v
JOIN
    location AS l
on
    v.location_id = l.location_id
JOIN
    water_source AS ws
ON
    ws.source_id = v.source_id
WHERE
    v.visit_count = 1
LIMIT 10

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+-------------+--------------+-------------+---------------+-----------+---------------+----------------------+-------------------------+
| location_id |  source_id   | visit_count | province_name | town_name | location_type | type_of_water_source | number_of_people_served |
+-------------+--------------+-------------+---------------+-----------+---------------+----------------------+-------------------------+
|  SoIl32582  | SoIl32582224 |      1      |     Sokoto    |   Ilanga  |     Urban     |        river         |           402           |
|  KiRu28935  | KiRu28935224 |      1      |    Kilimani   |   Rural   |     Rural     |         well         |           252           |
|  HaRu19752  | HaRu19752224 |      1      |    Hawassa    |   Rural   |     Rural     |      shared_tap      |           542           |
|  AkLu01628  | AkLu01628224 |      1      |     Akatsi    |   Lusaka  |     Urban     |         well         |           210           |
|  AkRu03357  | AkRu03357224 |      1      |     Akatsi    |   Rural   |     Rural     |      shared_tap      |           2598          |
|  KiRu29315  | KiRu29315224 |      1      |    Kilimani   |   Rural   |     Rural     |        river         |           862           |
|  AkRu05234  | AkRu05234224 |      1      |     Akatsi    |   Rural   |     Rural     |  tap_in_home_broken  |           496           |
|  KiRu28520  | KiRu28520224 |      1      |    Kilimani   |   Rural   |     Rural     |     tap_in_home      |           562           |
|  HaZa21742  | HaZa21742224 |      1      |    Hawassa    |  Zanzibar |     Urban     |         well         |           308           |
|  AmDa12214  | AmDa12214224 |      1      |     Amanzi    |   Dahabu  |     Urban     |     tap_in_home      |           556           |
+-------------+--------------+-------------+---------------+-----------+---------------+----------------------+-------------------------+

In [10]:
%%sql
# WHERE visits.location_id = 'AkHa00103' and add the visits.visit_count = 1 as a filter.

SELECT
    v.location_id,
    v.source_id,
    v.visit_count,
    l.province_name,
    l.town_name,
    l.location_type,
    ws.type_of_water_source,
    ws.number_of_people_served
FROM
    visits AS v
JOIN
    location AS l
on
    v.location_id = l.location_id
JOIN
    water_source AS ws
ON
    ws.source_id = v.source_id
WHERE
    v.visit_count = 1
    AND
    v.location_id = 'AkHa00103'
LIMIT 10

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

1 rows affected.

+-------------+--------------+-------------+---------------+-----------+---------------+----------------------+-------------------------+
| location_id |  source_id   | visit_count | province_name | town_name | location_type | type_of_water_source | number_of_people_served |
+-------------+--------------+-------------+---------------+-----------+---------------+----------------------+-------------------------+
|  AkHa00103  | AkHa00103224 |      1      |     Akatsi    |   Harare  |     Urban     |      shared_tap      |           3340          |
+-------------+--------------+-------------+---------------+-----------+---------------+----------------------+-------------------------+

In [11]:
%%sql

-- Add the location_type column from location and time_in_queue from visits to our results set.
SELECT
    v.location_id,
    v.source_id,
    v.visit_count,
    v.time_in_queue,
    l.province_name,
    l.town_name,
    l.location_type,
    ws.type_of_water_source,
    ws.number_of_people_served
FROM
    visits AS v
JOIN
    location AS l
on
    v.location_id = l.location_id
JOIN
    water_source AS ws
ON
    ws.source_id = v.source_id
WHERE
    v.visit_count = 1
LIMIT 10

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+-------------+--------------+-------------+---------------+---------------+-----------+---------------+----------------------+-------------------------+
| location_id |  source_id   | visit_count | time_in_queue | province_name | town_name | location_type | type_of_water_source | number_of_people_served |
+-------------+--------------+-------------+---------------+---------------+-----------+---------------+----------------------+-------------------------+
|  SoIl32582  | SoIl32582224 |      1      |       15      |     Sokoto    |   Ilanga  |     Urban     |        river         |           402           |
|  KiRu28935  | KiRu28935224 |      1      |       0       |    Kilimani   |   Rural   |     Rural     |         well         |           252           |
|  HaRu19752  | HaRu19752224 |      1      |       62      |    Hawassa    |   Rural   |     Rural     |      shared_tap      |           542           |
|  AkLu01628  | AkLu01628224 |      1      |       0       |     Akatsi    |   Lusaka  |     Urban     |         well         |           210           |
|  AkRu03357  | AkRu03357224 |      1      |       28      |     Akatsi    |   Rural   |     Rural     |      shared_tap      |           2598          |
|  KiRu29315  | KiRu29315224 |      1      |       9       |    Kilimani   |   Rural   |     Rural     |        river         |           862           |
|  AkRu05234  | AkRu05234224 |      1      |       0       |     Akatsi    |   Rural   |     Rural     |  tap_in_home_broken  |           496           |
|  KiRu28520  | KiRu28520224 |      1      |       0       |    Kilimani   |   Rural   |     Rural     |     tap_in_home      |           562           |
|  HaZa21742  | HaZa21742224 |      1      |       0       |    Hawassa    |  Zanzibar |     Urban     |         well         |           308           |
|  AmDa12214  | AmDa12214224 |      1      |       0       |     Amanzi    |   Dahabu  |     Urban     |     tap_in_home      |           556           |
+-------------+--------------+-------------+---------------+---------------+-----------+---------------+----------------------+-------------------------+

In [12]:
%%sql

# Last one! Now we need to grab the results from the well_pollution table. PAGE(9)
# This one is a bit trickier. The well_pollution table contained only data for well. 
# If we just use JOIN, we will do an inner join, so that only records that are in well_pollution AND visits will be joined. 
# We have to use a LEFT JOIN to join theresults from the well_pollution table for well sources, and will be NULL for all of the rest.
# Play around with the different JOIN operations to make sure you understand why we used LEFT JOIN.
SELECT
    v.location_id,
    l.province_name,
    l.town_name,
    l.location_type,
    ws.number_of_people_served,
    v.visit_count,
    v.time_in_queue,
    ws.type_of_water_source,
    wp.results
FROM
    visits AS v
LEFT JOIN
    well_pollution AS wp
ON
    wp.source_id = v.source_id
INNER JOIN
    location AS l
ON
    l.location_id = v.location_id
INNER JOIN
    water_source AS ws
ON
    ws.source_id = v.source_id
WHERE
    v.visit_count = 1
LIMIT 10

# This table assembles data from different tables into one to simplify analysis

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+-------------+---------------+-----------+---------------+-------------------------+-------------+---------------+----------------------+--------------------------+
| location_id | province_name | town_name | location_type | number_of_people_served | visit_count | time_in_queue | type_of_water_source |         results          |
+-------------+---------------+-----------+---------------+-------------------------+-------------+---------------+----------------------+--------------------------+
|  SoIl32582  |     Sokoto    |   Ilanga  |     Urban     |           402           |      1      |       15      |        river         |           None           |
|  KiRu28935  |    Kilimani   |   Rural   |     Rural     |           252           |      1      |       0       |         well         | Contaminated: Biological |
|  HaRu19752  |    Hawassa    |   Rural   |     Rural     |           542           |      1      |       62      |      shared_tap      |           None           |
|  AkLu01628  |     Akatsi    |   Lusaka  |     Urban     |           210           |      1      |       0       |         well         | Contaminated: Biological |
|  AkRu03357  |     Akatsi    |   Rural   |     Rural     |           2598          |      1      |       28      |      shared_tap      |           None           |
|  KiRu29315  |    Kilimani   |   Rural   |     Rural     |           862           |      1      |       9       |        river         |           None           |
|  AkRu05234  |     Akatsi    |   Rural   |     Rural     |           496           |      1      |       0       |  tap_in_home_broken  |           None           |
|  KiRu28520  |    Kilimani   |   Rural   |     Rural     |           562           |      1      |       0       |     tap_in_home      |           None           |
|  HaZa21742  |    Hawassa    |  Zanzibar |     Urban     |           308           |      1      |       0       |         well         |  Contaminated: Chemical  |
|  AmDa12214  |     Amanzi    |   Dahabu  |     Urban     |           556           |      1      |       0       |     tap_in_home      |           None           |
+-------------+---------------+-----------+---------------+-------------------------+-------------+---------------+----------------------+--------------------------+

In [13]:
%%sql

# So this table contains the data we need for this analysis. 
# Now we want to analyse the data in the results set. We can either create a CTE, and then query it, or in my case, 
# I'll make it a VIEW so it is easier to share with you. I'll call it the combined_analysis_table.

DROP VIEW IF EXISTS combined_analysis;

CREATE VIEW combined_analysis AS (
                                        SELECT
                                            v.location_id,
                                            l.province_name,
                                            l.town_name,
                                            l.location_type,
                                            ws.number_of_people_served,
                                            v.visit_count,
                                            v.time_in_queue,
                                            ws.type_of_water_source,
                                            wp.results
                                        FROM
                                            visits AS v
                                        LEFT JOIN
                                            well_pollution AS wp
                                        ON
                                            wp.source_id = v.source_id
                                        INNER JOIN
                                            location AS l
                                        ON
                                            l.location_id = v.location_id
                                        INNER JOIN
                                            water_source AS ws
                                        ON
                                            ws.source_id = v.source_id
                                        WHERE
                                            v.visit_count = 1)


-- This view creates a "table" that pulls all of the important information from different tables into one.

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

++
||
++
++

In [14]:
%%sql

# Finally, we can look at this view
SELECT
    *
FROM
    combined_analysis
lIMIT 10

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+-------------+---------------+-----------+---------------+-------------------------+-------------+---------------+----------------------+--------------------------+
| location_id | province_name | town_name | location_type | number_of_people_served | visit_count | time_in_queue | type_of_water_source |         results          |
+-------------+---------------+-----------+---------------+-------------------------+-------------+---------------+----------------------+--------------------------+
|  SoIl32582  |     Sokoto    |   Ilanga  |     Urban     |           402           |      1      |       15      |        river         |           None           |
|  KiRu28935  |    Kilimani   |   Rural   |     Rural     |           252           |      1      |       0       |         well         | Contaminated: Biological |
|  HaRu19752  |    Hawassa    |   Rural   |     Rural     |           542           |      1      |       62      |      shared_tap      |           None           |
|  AkLu01628  |     Akatsi    |   Lusaka  |     Urban     |           210           |      1      |       0       |         well         | Contaminated: Biological |
|  AkRu03357  |     Akatsi    |   Rural   |     Rural     |           2598          |      1      |       28      |      shared_tap      |           None           |
|  KiRu29315  |    Kilimani   |   Rural   |     Rural     |           862           |      1      |       9       |        river         |           None           |
|  AkRu05234  |     Akatsi    |   Rural   |     Rural     |           496           |      1      |       0       |  tap_in_home_broken  |           None           |
|  KiRu28520  |    Kilimani   |   Rural   |     Rural     |           562           |      1      |       0       |     tap_in_home      |           None           |
|  HaZa21742  |    Hawassa    |  Zanzibar |     Urban     |           308           |      1      |       0       |         well         |  Contaminated: Chemical  |
|  AmDa12214  |     Amanzi    |   Dahabu  |     Urban     |           556           |      1      |       0       |     tap_in_home      |           None           |
+-------------+---------------+-----------+---------------+-------------------------+-------------+---------------+----------------------+--------------------------+

#### The last analysis
We're building another pivot table! This time, we want to break down our data into provinces or towns and source types. If we understand where the problems are, and what we need to improve at those locations, we can make an informed decision on where to send our repair teams.

We did most of this before.

In [15]:
%%sql

# province_totals is a CTE that calculates the sum of all the people surveyed grouped by province. 
# If you replace the query above with this one: PAGE(13)

WITH province_totals AS (
                        SELECT
                            province_name,
                            SUM(number_of_people_served) AS total_people
                        FROM
                           combined_analysis
                        GROUP BY
                            1
                        ORDER BY
                            2 DESC)
SELECT
    *
FROM
    province_totals

# You should get a table of province names and summed up populations for each province.

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+---------------+--------------+
| province_name | total_people |
+---------------+--------------+
|    Kilimani   |   6584764    |
|     Akatsi    |   5993306    |
|     Sokoto    |   5774434    |
|     Amanzi    |   5431826    |
|    Hawassa    |   3843810    |
+---------------+--------------+

In [16]:
%%sql

SELECT
    *
FROM
   combined_analysis
LIMIT 10

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+-------------+---------------+-----------+---------------+-------------------------+-------------+---------------+----------------------+--------------------------+
| location_id | province_name | town_name | location_type | number_of_people_served | visit_count | time_in_queue | type_of_water_source |         results          |
+-------------+---------------+-----------+---------------+-------------------------+-------------+---------------+----------------------+--------------------------+
|  SoIl32582  |     Sokoto    |   Ilanga  |     Urban     |           402           |      1      |       15      |        river         |           None           |
|  KiRu28935  |    Kilimani   |   Rural   |     Rural     |           252           |      1      |       0       |         well         | Contaminated: Biological |
|  HaRu19752  |    Hawassa    |   Rural   |     Rural     |           542           |      1      |       62      |      shared_tap      |           None           |
|  AkLu01628  |     Akatsi    |   Lusaka  |     Urban     |           210           |      1      |       0       |         well         | Contaminated: Biological |
|  AkRu03357  |     Akatsi    |   Rural   |     Rural     |           2598          |      1      |       28      |      shared_tap      |           None           |
|  KiRu29315  |    Kilimani   |   Rural   |     Rural     |           862           |      1      |       9       |        river         |           None           |
|  AkRu05234  |     Akatsi    |   Rural   |     Rural     |           496           |      1      |       0       |  tap_in_home_broken  |           None           |
|  KiRu28520  |    Kilimani   |   Rural   |     Rural     |           562           |      1      |       0       |     tap_in_home      |           None           |
|  HaZa21742  |    Hawassa    |  Zanzibar |     Urban     |           308           |      1      |       0       |         well         |  Contaminated: Chemical  |
|  AmDa12214  |     Amanzi    |   Dahabu  |     Urban     |           556           |      1      |       0       |     tap_in_home      |           None           |
+-------------+---------------+-----------+---------------+-------------------------+-------------+---------------+----------------------+--------------------------+

In [17]:
%%sql

WITH province_totals AS (
    SELECT
        province_name,
        SUM(number_of_people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name
)

SELECT
    ca.province_name,
    ROUND((SUM(CASE WHEN type_of_water_source = 'river' THEN number_of_people_served ELSE 0 END) * 100 / pt.total_ppl_serv), 0) AS river,
    ROUND((SUM(CASE WHEN type_of_water_source = 'shared_tap' THEN number_of_people_served ELSE 0 END) * 100 / pt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home' THEN number_of_people_served ELSE 0 END) * 100 / pt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home_broken' THEN number_of_people_served ELSE 0 END) * 100 / pt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN type_of_water_source = 'well' THEN number_of_people_served ELSE 0 END) * 100 / pt.total_ppl_serv), 0) AS well
FROM
    combined_analysis AS ca
JOIN
    province_totals AS pt 
ON 
    ca.province_name = pt.province_name
GROUP BY
    ca.province_name


# These case statements create columns for each type of source.
# The results are aggregated and percentages are calculated
# The main query selects the province names, and then like we did last time,
# we create a bunch of columns for each type of water source with CASE statements, sum each of them together, and calculate percentages.
# We join the province_totals table to our combined_analysis_table, so that the correct value for each province's pt.total_ppl_serv value is used.
# Finally we group by province_name to get the provincial percentages.

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+---------------+-------+------------+-------------+--------------------+------+
| province_name | river | shared_tap | tap_in_home | tap_in_home_broken | well |
+---------------+-------+------------+-------------+--------------------+------+
|     Akatsi    |   5   |     49     |      14     |         10         |  23  |
|    Kilimani   |   8   |     47     |      13     |         12         |  20  |
|     Sokoto    |   21  |     38     |      16     |         10         |  15  |
|    Hawassa    |   4   |     43     |      15     |         15         |  24  |
|     Amanzi    |   3   |     38     |      28     |         24         |  7   |
+---------------+-------+------------+-------------+--------------------+------+

####  Run the query and see if you can spot any of the following patterns:

• Look at the river column, Sokoto has the largest population of people drinking river water. We should send our drilling equipment to Sokoto first, so people can drink safe filtered water from a well.

• The majority of water from Amanzi comes from taps, but half of these home taps don't work because the infrastructure is broken. We need to send out engineering teams to look at the infrastructure in Amanzi first. Fixing a large pump, treatment plant or reservoir means that thousands of people will have running water. This means they will also not have to queue for water, so we improve two things at once.
#### Do you spot any other interesting patterns?

In [18]:
%%sql

WITH town_totals AS (
    SELECT
        province_name,
        town_name,
        SUM(number_of_people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name,
        town_name
)

SELECT
    ca.province_name,
    ca.town_name,
    ROUND((SUM(CASE WHEN type_of_water_source = 'river' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS river,
    ROUND((SUM(CASE WHEN type_of_water_source = 'shared_tap' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home_broken' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN type_of_water_source = 'well' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS well
FROM
    combined_analysis AS ca
JOIN
    town_totals AS tt 
ON 
    ca.province_name = tt.province_name
    AND
    ca.town_name = tt.town_name
GROUP BY
    ca.province_name,
    ca.town_name
ORDER BY
    ca.town_name
LIMIT 10

# Let's aggregate the data per town now. You might think this is simple, 
# but one little town makes this hard. Recall that there are two towns in Maji Ndogo called Harare. 
# One is in Akatsi, and one is in Kilimani. Amina is another example.
# So when we just aggregate by town, 
# SQL doesn't distinguish between the different Harare's, so it combines their results.
# To get around that, we have to group by province first,then by town, so that the duplicate towns are distinct because they are in different towns.

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+---------------+-----------+-------+------------+-------------+--------------------+------+
| province_name | town_name | river | shared_tap | tap_in_home | tap_in_home_broken | well |
+---------------+-----------+-------+------------+-------------+--------------------+------+
|     Amanzi    |  Abidjan  |   2   |     53     |      22     |         19         |  4   |
|    Kilimani   |   Amara   |   8   |     22     |      25     |         16         |  30  |
|     Amanzi    |   Amina   |   8   |     24     |      3      |         56         |  9   |
|    Hawassa    |   Amina   |   2   |     14     |      19     |         24         |  42  |
|     Amanzi    |   Asmara  |   3   |     49     |      24     |         20         |  4   |
|     Sokoto    |   Bahari  |   21  |     11     |      36     |         12         |  20  |
|     Amanzi    |   Bello   |   3   |     53     |      20     |         22         |  3   |
|     Sokoto    |   Cheche  |   19  |     16     |      35     |         12         |  18  |
|     Amanzi    |   Dahabu  |   3   |     37     |      55     |         1          |  4   |
|    Hawassa    |    Deka   |   3   |     16     |      23     |         21         |  38  |
+---------------+-----------+-------+------------+-------------+--------------------+------+

In [19]:
%%sql
# Before we jump into the data, let's store it as a temporary table first, so it is quicker to access.
# Temporary tables in SQL are a nice way to store the results of a complex query.
# We run the query once, and the results are stored as a table. The catch? If you close the database connection, it deletes the table, 
# so you have to run it again each time you start working in MySQL.
# The benefit is that we can use the table to do more calculations, without running the whole query each time. PAGE(19)
DROP TEMPORARY TABLE IF EXISTS town_aggregated_water_access;

CREATE TEMPORARY TABLE town_aggregated_water_access AS
WITH town_totals AS (
    SELECT
        province_name,
        town_name,
        SUM(number_of_people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name,
        town_name
)
SELECT
    ca.province_name,
    ca.town_name,
    ROUND((SUM(CASE WHEN type_of_water_source = 'river' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS river,
    ROUND((SUM(CASE WHEN type_of_water_source = 'shared_tap' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home_broken' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN type_of_water_source = 'well' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS well
FROM
    combined_analysis AS ca
JOIN
    town_totals AS tt 
ON 
    ca.province_name = tt.province_name
    AND
    ca.town_name = tt.town_name
GROUP BY
    ca.province_name,
    ca.town_name
ORDER BY
    ca.town_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

31 rows affected.

++
||
++
++

#### Note
Temporary tables in SQL are a nice way to store the results of a complex query. We run the query once, and the results are stored as a table. The catch? If you close the database connection, it deletes the table, so you have to run it again each time you start working in MySQL. The benefit is that we can use the table to do more calculations, without running the whole query each time.

In [20]:
%%sql

SELECT
      *
FROM
    town_aggregated_water_access
ORDER BY 
    province_name ASC
LIMIT 10

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+---------------+-----------+-------+------------+-------------+--------------------+------+
| province_name | town_name | river | shared_tap | tap_in_home | tap_in_home_broken | well |
+---------------+-----------+-------+------------+-------------+--------------------+------+
|     Akatsi    |   Lusaka  |   2   |     17     |      28     |         28         |  26  |
|     Akatsi    |  Kintampo |   2   |     15     |      31     |         26         |  26  |
|     Akatsi    |   Harare  |   2   |     17     |      28     |         27         |  27  |
|     Akatsi    |   Rural   |   6   |     59     |      9      |         5          |  22  |
|     Amanzi    |  Abidjan  |   2   |     53     |      22     |         19         |  4   |
|     Amanzi    |   Amina   |   8   |     24     |      3      |         56         |  9   |
|     Amanzi    |   Pwani   |   3   |     53     |      20     |         21         |  4   |
|     Amanzi    |   Asmara  |   3   |     49     |      24     |         20         |  4   |
|     Amanzi    |   Bello   |   3   |     53     |      20     |         22         |  3   |
|     Amanzi    |   Dahabu  |   3   |     37     |      55     |         1          |  4   |
+---------------+-----------+-------+------------+-------------+--------------------+------+

But look at the tap_in_home percentages in Sokoto too. Some of our citizens are forced to drink unsafe water from a river, while a lot of people have running water in their homes in Sokoto. Large disparities in water access like this often show that the wealth distribution in Sokoto is very unequal. We should mention this in our report. We should also send our drilling teams to Sokoto first to drill some wells for the people who are drinking river water, specifically the rural parts and the city of Bahari.

Next, sort the data by province_name next and look at the data for Amina in Amanzi. Here only 3% of Amina's citizens have access to running tap water in their homes. More than half of the people in Amina have taps installed in their homes, but they are not working. We should send out teams to go and fix the infrastructure in Amina first. Fixing taps in people's homes, means those people don't have to queue for water anymore, so the queues in Amina will also get shorter!

In [21]:
%%sql
# There are still many gems hidden in this table. For example, 
# which town has the highest ratio of people who have taps, but have no running water? 
SELECT
    province_name,
    town_name,
    ROUND(tap_in_home_broken/(tap_in_home_broken + tap_in_home) * 100) AS pct_broken_taps
FROM
    town_aggregated_water_access
LIMIT 10

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+---------------+-----------+-----------------+
| province_name | town_name | pct_broken_taps |
+---------------+-----------+-----------------+
|     Amanzi    |  Abidjan  |        46       |
|    Kilimani   |   Amara   |        39       |
|     Amanzi    |   Amina   |        95       |
|    Hawassa    |   Amina   |        56       |
|     Amanzi    |   Asmara  |        45       |
|     Sokoto    |   Bahari  |        25       |
|     Amanzi    |   Bello   |        52       |
|     Sokoto    |   Cheche  |        26       |
|     Amanzi    |   Dahabu  |        2        |
|    Hawassa    |    Deka   |        48       |
+---------------+-----------+-----------------+

### Summary report

#### Insights

Ok, so let's sum up the data we have.
A couple of weeks ago we found some interesting insights:
1. Most water sources are rural in Maji Ndogo.
2. 43% of our people are using shared taps. 2000 people often share one tap.
3. 31% of our population has water infrastructure in their homes, but within that group,
4. 45% face non-functional systems due to issues with pipes, pumps, and reservoirs. Towns like Amina, the rural parts of Amanzi, and a couple
of towns across Akatsi and Hawassa have broken infrastructure.
5. 18% of our people are using wells of which, but within that, only 28% are clean. These are mostly in Hawassa, Kilimani and Akatsi.
6. Our citizens often face long wait times for water, averaging more than 120 minutes:

• Queues are very long on Saturdays.

• Queues are longer in the mornings and evenings.

• Wednesdays and Sundays have the shortest queues

#### Plan of action
1. We want to focus our efforts on improving the water sources that affect the most people.
• Most people will benefit if we improve the shared taps first.
2. Wells are a good source of water, but many are contaminated. Fixing this will benefit a lot of people.
3. Fixing existing infrastructure will help many people. If they have running water again, they won't have to queue, thereby shorting queue times
for others. So we can solve two problems at once.
4. Installing taps in homes will stretch our resources too thin, so for now if the queue times are low, we won't improve that source.
5. Most water sources are in rural areas. We need to ensure our teams know this as this means they will have to make these repairs/upgrades in
rural areas where road conditions, supplies, and labour are harder challenges to overcome.

#### Practical solutions:
1. If communities are using rivers, we will dispatch trucks to those regions to provide water temporarily in the short term, while we send out
crews to drill for wells, providing a more permanent solution. Sokoto is the first province we will target.
2. If communities are using wells, we will install filters to purify the water. For chemically polluted wells, we can install reverse osmosis (RO)
filters, and for wells with biological contamination, we can install UV filters that kill microorganisms - but we should install RO filters too. In
the long term, we must figure out why these sources are polluted.
3. For shared taps, in the short term, we can send additional water tankers to the busiest taps, on the busiest days. We can use the queue time
pivot table we made to send tankers at the busiest times. Meanwhile, we can start the work on installing extra taps where they are needed.
According to UN standards, the maximum acceptable wait time for water is 30 minutes. With this in mind, our aim is to install taps to get
queue times below 30 min. Towns like Bello, Abidjan and Zuri have a lot of people using shared taps, so we will send out teams to those
towns first.
4. Shared taps with short queue times (< 30 min) represent a logistical challenge to further reduce waiting times. The most effective solution,
installing taps in homes, is resource-intensive and better suited as a long-term goal.
5. Addressing broken infrastructure offers a significant impact even with just a single intervention. It is expensive to fix, but so many people can
benefit from repairing one facility. For example, fixing a reservoir or pipe that multiple taps are connected to. We identified towns like Amina,
Lusaka, Zuri, Djenne and rural parts of Amanzi seem to be good places to start.

#### A practical plan

Our final goal is to implement our plan in the database.
We have a plan to improve the water access in Maji Ndogo, so we need to think it through, and as our final task, create a table where our teams
have the information they need to fix, upgrade and repair water sources. They will need the addresses of the places they should visit (street
address, town, province), the type of water source they should improve, and what should be done to improve it.
We should also make space for them in the database to update us on their progress. We need to know if the repair is complete, and the date it was
completed, and give them space to upgrade the sources. Let's call this table Project_progress.

In [22]:
%%sql

# This query creates the Project_progress table:

DROP TABLE IF EXISTS project_progress;

CREATE TABLE project_progress (
        Project_id SERIAL PRIMARY KEY,
        source_id VARCHAR(20) NOT NULL REFERENCES water_source(source_id) ON DELETE CASCADE ON UPDATE CASCADE,
        Address VARCHAR(50),
        Town VARCHAR(30),
        Province VARCHAR(30),
        Source_type VARCHAR(50),
        Improvement VARCHAR(50),
        Source_status VARCHAR(50) DEFAULT 'Backlog' CHECK (Source_status IN ('Backlog', 'In progress', 'Complete')),
        Date_of_completion DATE,
        Comments TEXT)

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

++
||
++
++

In [23]:
%%sql

SELECT
	l.province_name,
	l.town_name,
	l.address,
    ws.source_id,
	ws.type_of_water_source,
	wp.results
FROM
	water_source AS ws
LEFT JOIN
	well_pollution AS wp
ON
    ws.source_id = wp.source_id
INNER JOIN
	visits AS v
ON
    ws.source_id = v.source_id
INNER JOIN
	location AS l
ON
    l.location_id = v.location_id
LIMIT 10

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+---------------+-----------+----------------------+--------------+----------------------+--------------------------+
| province_name | town_name |       address        |  source_id   | type_of_water_source |         results          |
+---------------+-----------+----------------------+--------------+----------------------+--------------------------+
|     Akatsi    |   Harare  |  2 Addis Ababa Road  | AkHa00000224 |     tap_in_home      |           None           |
|     Akatsi    |   Harare  | 10 Addis Ababa Road  | AkHa00001224 |  tap_in_home_broken  |           None           |
|     Akatsi    |   Harare  |  9 Addis Ababa Road  | AkHa00002224 |  tap_in_home_broken  |           None           |
|     Akatsi    |   Harare  | 139 Addis Ababa Road | AkHa00003224 |         well         |          Clean           |
|     Akatsi    |   Harare  | 17 Addis Ababa Road  | AkHa00004224 |  tap_in_home_broken  |           None           |
|     Akatsi    |   Harare  | 125 Addis Ababa Road | AkHa00005224 |     tap_in_home      |           None           |
|     Akatsi    |   Harare  | 98 Addis Ababa Road  | AkHa00006224 |     tap_in_home      |           None           |
|     Akatsi    |   Harare  | 21 Addis Ababa Road  | AkHa00007224 |     tap_in_home      |           None           |
|     Akatsi    |   Harare  | 11 Addis Ababa Road  | AkHa00008224 |         well         |          Clean           |
|     Akatsi    |   Harare  |  6 Addis Ababa Road  | AkHa00009224 |         well         | Contaminated: Biological |
+---------------+-----------+----------------------+--------------+----------------------+--------------------------+

In [24]:
%%sql

# Here is a less commented one so it is easier to see how we design the Project_progress table:

INSERT INTO project_progress(source_id, Address, Town, Province, Source_type, Improvement )
SELECT
     ws.source_id,
     l.Address,
     l.town_name,
     l.province_name,
     Ws.type_of_water_source,
	 CASE
		WHEN wp.results = 'Contaminated: Biological' THEN 'Install UV filter'
        WHEN wp.results = 'Contaminated: Chemical' THEN 'Install RO filter' 
        WHEN Ws.type_of_water_source = 'river' THEN 'Drill well'
        WHEN (Ws.type_of_water_source = 'shared_tap' AND v.time_in_queue >= 30)
             THEN CONCAT('Install ', FLOOR(v.time_in_queue/30), ' taps nearby')
		WHEN Ws.type_of_water_source = 'tap_in_home_broken' THEN 'Diagnose local infrastructure'
	  ELSE
           NULL
	  END AS Improvement 

FROM
    location AS l
JOIN
    visits AS v
ON
  l.location_id = v.location_id
JOIN
   water_source AS ws
ON
  v.source_id = Ws.source_id
LEFT JOIN
   well_pollution AS WP
ON
   v.source_id = wp.source_id
WHERE
	v.visit_count = 1
    AND
	(( Ws.type_of_water_source = 'shared_tap' AND V.time_in_queue >= 30)
    OR WP.results != 'Clean'
	OR Ws.type_of_water_source IN ('river','tap_in_home_broken'))

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

25398 rows affected.

++
||
++
++

In [25]:
%%sql

 SELECT
      *
FROM
    project_progress
LIMIT 10

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+------------+--------------+--------------------------+----------+----------+--------------------+-------------------------------+---------------+--------------------+----------+
| Project_id |  source_id   |         Address          |   Town   | Province |    Source_type     |          Improvement          | Source_status | Date_of_completion | Comments |
+------------+--------------+--------------------------+----------+----------+--------------------+-------------------------------+---------------+--------------------+----------+
|     1      | SoIl32582224 | 36 Pwani Mchangani Road  |  Ilanga  |  Sokoto  |       river        |           Drill well          |    Backlog    |        None        |   None   |
|     2      | KiRu28935224 |  129 Ziwa La Kioo Road   |  Rural   | Kilimani |        well        |       Install UV filter       |    Backlog    |        None        |   None   |
|     3      | HaRu19752224 |  18 Mlima Tazama Avenue  |  Rural   | Hawassa  |     shared_tap     |     Install 2 taps nearby     |    Backlog    |        None        |   None   |
|     4      | AkLu01628224 |    100 Mogadishu Road    |  Lusaka  |  Akatsi  |        well        |       Install UV filter       |    Backlog    |        None        |   None   |
|     5      | KiRu29315224 | 26 Bahari Ya Faraja Road |  Rural   | Kilimani |       river        |           Drill well          |    Backlog    |        None        |   None   |
|     6      | AkRu05234224 |   104 Kenyatta Street    |  Rural   |  Akatsi  | tap_in_home_broken | Diagnose local infrastructure |    Backlog    |        None        |   None   |
|     7      | HaZa21742224 |     117 Kampala Road     | Zanzibar | Hawassa  |        well        |       Install RO filter       |    Backlog    |        None        |   None   |
|     8      | SoRu35008224 |      55 Fennec Way       |  Rural   |  Sokoto  |     shared_tap     |     Install 8 taps nearby     |    Backlog    |        None        |   None   |
|     9      | SoRu35703224 |     52 Moroni Avenue     |  Rural   |  Sokoto  |        well        |       Install UV filter       |    Backlog    |        None        |   None   |
|     10     | AkHa00070224 |   51 Addis Ababa Road    |  Harare  |  Akatsi  |        well        |       Install RO filter       |    Backlog    |        None        |   None   |
+------------+--------------+--------------------------+----------+----------+--------------------+-------------------------------+---------------+--------------------+----------+

# Questions of Integrated Project: Maji Ndogo Part 4

In [26]:
%%sql

# Q1 
# How many UV filters do we have to install in total?
SELECT
    COUNT(Improvement) AS count_uv_filters
FROM
    project_progress
WHERE
    Improvement = 'Install UV filter'

-- ------------------------------------> ANSWER: 5374

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

1 rows affected.

+------------------+
| count_uv_filters |
+------------------+
|       5374       |
+------------------+

In [27]:
%%sql

# Q2

# If you were to modify the query to include the percentage of people served by only dirty wells as a water source,
# which part of the town_aggregated_water_access CTE would you need to change?

-- --------> ANSWER: Add AND combined_analysis_table.results != "Clean" to the well CASE statement.

# EXPLAINATION
# CREATE TEMPORARY TABLE town_aggregated_water_access

WITH town_totals AS (
    SELECT
        province_name,
        town_name,
        SUM(number_of_people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name,
        town_name
)

SELECT
    ca.province_name,
    ca.town_name,
    ROUND((SUM(CASE WHEN type_of_water_source = 'river' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS river,
    ROUND((SUM(CASE WHEN type_of_water_source = 'shared_tap' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home_broken' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN type_of_water_source = 'well' AND ca.results != 'Clean' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS well
FROM
    combined_analysis AS ca
JOIN
    town_totals AS tt 
ON 
    ca.province_name = tt.province_name
    AND
    ca.town_name = tt.town_name
GROUP BY
    ca.province_name,
    ca.town_name
ORDER BY
    ca.town_name
LIMIT 10
-- ---------> ANSWER: Add AND combined_analysis_table.results != "Clean" to the well CASE statement.

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+---------------+-----------+-------+------------+-------------+--------------------+------+
| province_name | town_name | river | shared_tap | tap_in_home | tap_in_home_broken | well |
+---------------+-----------+-------+------------+-------------+--------------------+------+
|     Amanzi    |  Abidjan  |   2   |     53     |      22     |         19         |  3   |
|    Kilimani   |   Amara   |   8   |     22     |      25     |         16         |  21  |
|     Amanzi    |   Amina   |   8   |     24     |      3      |         56         |  7   |
|    Hawassa    |   Amina   |   2   |     14     |      19     |         24         |  39  |
|     Amanzi    |   Asmara  |   3   |     49     |      24     |         20         |  3   |
|     Sokoto    |   Bahari  |   21  |     11     |      36     |         12         |  13  |
|     Amanzi    |   Bello   |   3   |     53     |      20     |         22         |  2   |
|     Sokoto    |   Cheche  |   19  |     16     |      35     |         12         |  12  |
|     Amanzi    |   Dahabu  |   3   |     37     |      55     |         1          |  3   |
|    Hawassa    |    Deka   |   3   |     16     |      23     |         21         |  36  |
+---------------+-----------+-------+------------+-------------+--------------------+------+

In [28]:
%%sql

# Q3
# Which province should we send drilling equipment to first?

SELECT
   Province,
   Improvement,
   COUNT(Improvement) AS count_improvements
FROM
    project_progress
WHERE
    Improvement = 'Drill well'
GROUP BY
     1,2
ORDER BY 
     count_improvements DESC

-- ------------------------------------> ANSWER: Sokoto

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+----------+-------------+--------------------+
| Province | Improvement | count_improvements |
+----------+-------------+--------------------+
|  Sokoto  |  Drill well |        1709        |
| Kilimani |  Drill well |        791         |
|  Akatsi  |  Drill well |        411         |
|  Amanzi  |  Drill well |        258         |
| Hawassa  |  Drill well |        210         |
+----------+-------------+--------------------+

#### -- Q4
-- Why was the LEFT JOIN operation used with the well_pollution table in the queries?

-- ------------------------------------> ANSWER: To include all records from visits and only matching well records from well_pollution

#### Q5
Which towns should we upgrade shared taps first? -- ------------------------------------> ANSWER: Zuri, Abidjan, Bello

WHY
BECAUSE
-- ------------------------------------> Zuri, Abidjan, Bello - 71%, 53% and 53% of the population uses shared taps in each of these towns.

### EXPLAINATION

In [29]:
%%sql

# --> WITH Q5
# NOTE: EXCLUDE RURAL TWONS
# CREATE TEMPORARY TABLE town_aggregated_water_access

WITH town_totals AS (
    SELECT
        province_name,
        town_name,
        SUM(number_of_people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name,
        town_name
)

SELECT
    ca.province_name,
    ca.town_name,
    ROUND((SUM(CASE WHEN type_of_water_source = 'river' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS river,
    ROUND((SUM(CASE WHEN type_of_water_source = 'shared_tap' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home_broken' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN type_of_water_source = 'well' AND ca.results != 'Clean' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS well
FROM
    combined_analysis AS ca
JOIN
    town_totals AS tt 
ON 
    ca.province_name = tt.province_name
    AND
    ca.town_name = tt.town_name
WHERE
    ca.town_name != 'Rural'
GROUP BY
    ca.province_name,
    ca.town_name
ORDER BY
    4 DESC

-- ------------------------------------> ANSWER: Zuri, Abidjan, Bello

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

26 rows affected.

+---------------+-----------+-------+------------+-------------+--------------------+------+
| province_name | town_name | river | shared_tap | tap_in_home | tap_in_home_broken | well |
+---------------+-----------+-------+------------+-------------+--------------------+------+
|    Kilimani   |    Zuri   |   8   |     71     |      6      |         11         |  2   |
|     Amanzi    |  Abidjan  |   2   |     53     |      22     |         19         |  3   |
|     Amanzi    |   Bello   |   3   |     53     |      20     |         22         |  2   |
|     Amanzi    |   Pwani   |   3   |     53     |      20     |         21         |  2   |
|     Amanzi    |   Asmara  |   3   |     49     |      24     |         20         |  3   |
|     Amanzi    |   Dahabu  |   3   |     37     |      55     |         1          |  3   |
|     Amanzi    |   Amina   |   8   |     24     |      3      |         56         |  7   |
|    Hawassa    |  Zanzibar |   0   |     22     |      22     |         17         |  37  |
|    Kilimani   |   Amara   |   8   |     22     |      25     |         16         |  21  |
|    Kilimani   |  Isiqalo  |   7   |     19     |      25     |         18         |  23  |
|     Sokoto    |   Marang  |   17  |     19     |      31     |         13         |  14  |
|    Hawassa    |   Djenne  |   3   |     18     |      19     |         23         |  35  |
|     Akatsi    |   Harare  |   2   |     17     |      28     |         27         |  14  |
|     Akatsi    |   Lusaka  |   2   |     17     |      28     |         28         |  14  |
|    Kilimani   |   Mrembo  |   7   |     16     |      25     |         21         |  24  |
|    Hawassa    |    Deka   |   3   |     16     |      23     |         21         |  36  |
|     Sokoto    |    Kofi   |   20  |     16     |      34     |         10         |  13  |
|     Sokoto    |   Cheche  |   19  |     16     |      35     |         12         |  12  |
|     Akatsi    |  Kintampo |   2   |     15     |      31     |         26         |  16  |
|    Hawassa    |  Yaounde  |   2   |     14     |      22     |         23         |  37  |
|    Hawassa    |   Serowe  |   6   |     14     |      23     |         23         |  2   |
|    Hawassa    |   Amina   |   2   |     14     |      19     |         24         |  39  |
|     Sokoto    |  Majengo  |   18  |     14     |      36     |         12         |  13  |
|     Sokoto    |   Ilanga  |   16  |     12     |      36     |         15         |  13  |
|    Kilimani   |   Harare  |   7   |     11     |      30     |         20         |  23  |
|     Sokoto    |   Bahari  |   21  |     11     |      36     |         12         |  13  |
+---------------+-----------+-------+------------+-------------+--------------------+------+

#### Q6
Which of the following improvements is suggested for a chemically contaminated well with a queue time of over 30 minutes?

-- ------------------------------------> ANSWER: Install RO filter.
#### WHY
#### BECAUSE

Drilling wells is for river sources, not for wells.

UV filters are for biological contamination, not chemical.

Diagnosing local infrastructure is for broken in-home taps, not chemical contamination.

In [30]:
%%sql
# Q7
# What is the maximum percentage of the population using rivers in a single town in the Amanzi province?

WITH town_totals AS (
    SELECT
        province_name,
        town_name,
        SUM(number_of_people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    WHERE
        province_name = 'Amanzi'
    GROUP BY
        province_name,
        town_name
),
town_aggregated_water_access AS ( 
    SELECT
        ca.province_name,
        ca.town_name,
        ROUND((SUM(CASE WHEN type_of_water_source = 'river' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS river_pct
    FROM
        combined_analysis AS ca
    JOIN
        town_totals AS tt 
    ON 
        ca.province_name = tt.province_name
        AND
        ca.town_name = tt.town_name
    WHERE
        ca.province_name = 'Amanzi'
    GROUP BY
        ca.town_name)
    
    SELECT
        province_name,
        MAX(river_pct) AS max_river_pct
    FROM 
       town_aggregated_water_access
    GROUP BY
        province_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

1 rows affected.

+---------------+---------------+
| province_name | max_river_pct |
+---------------+---------------+
|     Amanzi    |       8       |
+---------------+---------------+

In [31]:
%%sql

# Q8
# In which province(s) do all towns have less than 50% access to home taps (including working and broken)?
-- ------------------------------------> ANSWER: Hawassa.

WITH town_totals AS (
    SELECT
        province_name,
        town_name,
        SUM(number_of_people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name,
        town_name
)

SELECT
    ca.province_name,
    ca.town_name,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN type_of_water_source = 'tap_in_home_broken' THEN number_of_people_served ELSE 0 END) * 100 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND(((SUM(CASE WHEN type_of_water_source = 'tap_in_home' THEN number_of_people_served ELSE 0 END) +
            SUM(CASE WHEN type_of_water_source = 'tap_in_home_broken' THEN number_of_people_served ELSE 0 END)) * 100 / tt.total_ppl_serv), 0) AS Total_Tabs_Access
FROM
    combined_analysis AS ca
JOIN
    town_totals AS tt 
ON 
    ca.province_name = tt.province_name
    AND
    ca.town_name = tt.town_name
GROUP BY
    ca.province_name,
    ca.town_name
ORDER BY
    ca.province_name, ca.town_name


    
-- ------------------------------------> ANSWER: Hawassa.

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

31 rows affected.

+---------------+-----------+-------------+--------------------+-------------------+
| province_name | town_name | tap_in_home | tap_in_home_broken | Total_Tabs_Access |
+---------------+-----------+-------------+--------------------+-------------------+
|     Akatsi    |   Harare  |      28     |         27         |         55        |
|     Akatsi    |  Kintampo |      31     |         26         |         57        |
|     Akatsi    |   Lusaka  |      28     |         28         |         56        |
|     Akatsi    |   Rural   |      9      |         5          |         14        |
|     Amanzi    |  Abidjan  |      22     |         19         |         41        |
|     Amanzi    |   Amina   |      3      |         56         |         59        |
|     Amanzi    |   Asmara  |      24     |         20         |         44        |
|     Amanzi    |   Bello   |      20     |         22         |         42        |
|     Amanzi    |   Dahabu  |      55     |         1          |         56        |
|     Amanzi    |   Pwani   |      20     |         21         |         41        |
|     Amanzi    |   Rural   |      30     |         30         |         59        |
|    Hawassa    |   Amina   |      19     |         24         |         43        |
|    Hawassa    |    Deka   |      23     |         21         |         44        |
|    Hawassa    |   Djenne  |      19     |         23         |         42        |
|    Hawassa    |   Rural   |      12     |         12         |         25        |
|    Hawassa    |   Serowe  |      23     |         23         |         46        |
|    Hawassa    |  Yaounde  |      22     |         23         |         45        |
|    Hawassa    |  Zanzibar |      22     |         17         |         38        |
|    Kilimani   |   Amara   |      25     |         16         |         41        |
|    Kilimani   |   Harare  |      30     |         20         |         50        |
|    Kilimani   |  Isiqalo  |      25     |         18         |         43        |
|    Kilimani   |   Mrembo  |      25     |         21         |         45        |
|    Kilimani   |   Rural   |      8      |         9          |         17        |
|    Kilimani   |    Zuri   |      6      |         11         |         17        |
|     Sokoto    |   Bahari  |      36     |         12         |         48        |
|     Sokoto    |   Cheche  |      35     |         12         |         47        |
|     Sokoto    |   Ilanga  |      36     |         15         |         51        |
|     Sokoto    |    Kofi   |      34     |         10         |         44        |
|     Sokoto    |  Majengo  |      36     |         12         |         48        |
|     Sokoto    |   Marang  |      31     |         13         |         44        |
|     Sokoto    |   Rural   |      8      |         8          |         16        |
+---------------+-----------+-------------+--------------------+-------------------+

#### -- Q9

-- Suppose our finance minister would like to have data to calculate the total cost of the water infrastructure upgrades in Maji Ndogo.

-- You are provided with a list that details both the types and the quantities of upgrades needed. Each type of upgrade has a specific unit cost in USD.

-- Example ------- infrastructure_cost table:

-- Improvement  --------  	-------Unit_cost_USD

--  Drill well     ----------            -------------------------                      8,500 $

-- Install UV and RO filter-----------    -----                      4,200 $

-- Diagnose local infrastructure      ------------               350 $

-- Using this list, and the data in the md_water_services database, how would you calculate the total cost of all the infrastructure upgrades in Maji Ndogo?

-- ------------------------------------> ANSWER: Query the project_progress database to find the quantities of each type of upgrade. Then, use a JOIN operation with the infrastructure_cost table to align the unit costs. Finally, multiply the unit cost for each type by its respective count and sum these totals for an overall estimated cost.

In [33]:
%%sql

# Q10
# What does the following query describe?

SELECT
	project_progress.Project_id, 
	project_progress.Town, 
	project_progress.Province, 
	project_progress.Source_type, 
	project_progress.Improvement,
	Water_source.number_of_people_served,
	RANK() OVER(PARTITION BY Province ORDER BY number_of_people_served) AS Number_Of_People_Served_By_Province
FROM 
    project_progress 
JOIN 
    water_source 
ON 
    water_source.source_id = project_progress.source_id
WHERE 
   Improvement = "Drill Well"
ORDER BY 
	Province DESC, 
	number_of_people_served
LIMIT 10

-- ------------------------------------> ANSWER: 
-- The query joins the project_progress and water_source tables. 
-- It then ranks the projects where drilling a well was recommended within each province,
-- by the number of people served by the water source. Using this table, 
-- engineers can be sent to the locations to drill wells where it is most needed.

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

10 rows affected.

+------------+---------+----------+-------------+-------------+-------------------------+-------------------------------------+
| Project_id |   Town  | Province | Source_type | Improvement | number_of_people_served | Number_Of_People_Served_By_Province |
+------------+---------+----------+-------------+-------------+-------------------------+-------------------------------------+
|   24068    |  Rural  |  Sokoto  |    river    |  Drill well |           400           |                  1                  |
|   22262    |  Rural  |  Sokoto  |    river    |  Drill well |           400           |                  1                  |
|    9245    |   Kofi  |  Sokoto  |    river    |  Drill well |           400           |                  1                  |
|   17844    |  Rural  |  Sokoto  |    river    |  Drill well |           400           |                  1                  |
|    674     | Majengo |  Sokoto  |    river    |  Drill well |           400           |                  1                  |
|   17781    | Majengo |  Sokoto  |    river    |  Drill well |           400           |                  1                  |
|   17592    |  Rural  |  Sokoto  |    river    |  Drill well |           400           |                  1                  |
|   22113    |  Rural  |  Sokoto  |    river    |  Drill well |           400           |                  1                  |
|   11181    |  Rural  |  Sokoto  |    river    |  Drill well |           400           |                  1                  |
|   19532    |  Rural  |  Sokoto  |    river    |  Drill well |           400           |                  1                  |
+------------+---------+----------+-------------+-------------+-------------------------+-------------------------------------+

#  
<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>